:root {
    --columns: 1fr;
    --rows: 5rem 1fr 1fr 1fr 1fr 1fr 1fr;
    --titleSpan: 1/1;
}

#faq {
    text-align: center;
    display: grid;
    grid-template-columns: var(--columns);
    grid-template-rows: var(--rows);
    padding: 1rem;
    grid-gap: 1rem;
}

#faq h1 {
    grid-column: var(--titleSpan);
}

p {
    padding: 1rem;
}

@media screen and (min-width: 500px) {
    :root { 
        --columns: 1fr 1fr;
        --rows: 5rem 1fr 1fr 1fr 1fr;
        --titleSpan: 1/3;
    }
}

@media screen and (min-width: 700px) {
    :root { 
        --columns: 1fr 1fr 1fr;
        --rows: 5rem 1fr 1fr 1fr;
        --titleSpan: 1/4;
    }
}

@media screen and (min-width: 1160px) {
    :root { 
        --columns: 1fr 1fr 1fr 1fr;
        --rows: 5rem 1fr 1fr;
        --titleSpan: 1/5;
    }
}