/* font-family: 'Dancing Script', cursive;
font-family: 'EB Garamond', serif; 
font-wight:400/500/600/700;*/
/* global variables */
html {
    font-size: 10px;
}

:root {
    /* typography */
    --primary-font: 'EB Garamond', serif;
    --logo-font: 'Dancing Script', cursive;
    --font-size: 1.6rem;
    --line-height: 1.5rem;
    /* colors */
    --nav-blue-color: #10213e;
    --orange-color: #e46f45;
    --darkblue-color: #11203d;
    --purpleblue-color: #40539f;
    --yellow-color: #edbe2c;
    --blue-color: #3660a1;
    /* helper */
    --spacer: 1rem;
    --db-spacer: calc(var(--spacer)*2);
    --border-radius: 28px;
    /* define help grid */
    --helpColumns: 1fr;
    --helpRows: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* define faq grid */
    --faqColumns: 1fr;
    --faqRows: 5rem 1fr 1fr 1fr 1fr 1fr 1fr;
    --faqTitleSpan: 1/1;
    /* define contact grid */
    --contactColumns: 1fr;
    
}

body {
    font-family: var(--primary-font);
    font-size: var(--font-size);
    line-height: var(--line-height);
}

img {
    max-width: 100%;
    height: auto;
}

span {
    color: var(--orange-color);
}


/* top navigation style*/
.topNav {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--nav-blue-color);
    padding: 1.3rem calc(var(--spacer)*2);
}

.logo {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-right: auto;
}

.logo h1 {
    font-family: var(--logo-font);
    font-size: calc(var(--font-size)*1.5);
    color: white;
    margin-right: 2rem;
}

/* languageselect style */
.dropdown {
    position: relative;
    display: inline-block;
}

#dropdownBtn {
    min-width: 35px;
    cursor: pointer;
}

.dropdownContent {
    /* display: none; */
    position: absolute;
    border: none;
    left: 0;
    z-index: 1;
}

#languageSelect {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("images/lan.gif") no-repeat right center / contain;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    color: transparent;
    /*hide the text*/
    cursor: pointer;
    outline: none;
    /*remove the default focus outline*/
}

/* end languageselect style */


/* searchbar style */
.searchbar {
    display: block;
    margin: 4rem 1rem;
}

.searchBox {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 8px;
    border-radius: var(--border-radius);
    border: 2px solid var(--blue-color);
    max-width: 700px;
    margin: auto;
}

.locationDropdown {
    display: flex;
    align-items: center;
}

#locationIcon {
    width: 35px;
    /* Adjust the width according to your location icon */
}

.cityDropdown {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    outline: none;
    font-size: var(--font-size);
    font-family: var(--primary-font);
    background-color: transparent;
    /* width: 90px; */
    width: auto;
    height: auto;
}

input {
    flex: 1;
    /*will take all the left space*/
    min-width: 0;
    /*Ensure that the content does not overflow the screen.*/
    border: none;
    padding: 8px;
    outline: none;
    font-size: var(--font-size);
    font-family: var(--primary-font);
    background-color: transparent;
}

.searchBtn {
    width: 35px;
    /* Adjust the width according to your search icon */
    cursor: pointer;
}


/*icons navigation style*/
h2 {
    margin: calc(var(--spacer)*2);
    color: var(--purpleblue-color);
    font-size: calc(var(--font-size)*1.3);
}

nav {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 2rem;
    text-align: center;
}

header {
    background-color: #ecffff;
    padding-bottom: 1rem;
}

nav figcaption {
    font-weight: 600;
    font-size: 1.3rem;
}

/*main section*/
main {
    margin: 6rem auto;
}

main h1 {
    font-size: calc(var(--font-size)*1.5);
    font-weight: 700;
    text-align: center;
    margin: 5rem auto 3rem;
}

main figure {
    margin: 0;
}

main figcaption {
    font-weight: 600;
}

main h3 {
    color: var(--orange-color);
    font-weight: 500;
    margin: 0.55rem auto;
}

main p {
    color: var(--darkblue-color);
    font-size: calc(var(--font-size)*0.75);
    margin: 0.55rem auto;
}

article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: calc(var(--spacer)*1.5);
    margin: auto 3rem;
}

/*button pseudo class*/
.button:link {
    background-color: var(--purpleblue-color);
    color: white;
    text-decoration: none;
    border-radius: var(--border-radius);
    padding: .5rem 2rem;
}

.button:visited {
    background-color: var(--blue-color);
    color: #c9cace;
}

.button:hover {
    background-color: var(--blue-color);
    color: var(--yellow-color);
}

.seeMore {
    font-size: var(--font-size);
    min-width: 118px;
    height: auto;
    margin: 1rem auto 1rem 0;
    grid-column: span 2;
}


/*footer section*/
footer {
    background-color: var(--nav-blue-color);
    padding: 4rem 2rem;
}

.bottomNav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.Foundation {
    grid-row: 1;
    grid-column: 4;
}

.Philanthropies {
    grid-row: 2;
    grid-column: 4;
}

.socialMedia {
    text-align: center;
    /*  padding: 1rem; */
}

.socialMedia img {
    width: 40px;
    margin-right: 10px;
}


/*pseudo class*/
a:link {
    color: var(--purpleblue-color);
    text-decoration: none;
}

a:visited {
    color: #949599;
}

a:hover {
    color: var(--yellow-color);
}

/*DANNY CSS- hope it doesnt mess anything up. lol*/
main h2 {
    /* text-align: center; */
    font-size: 1.5em;
}

article#loved {
    display: block;
    justify-items: center;
    margin: 2rem 3rem;
    padding: 1em;
}

#details {
    display: block;
    margin: 2rem 3rem;
}

#details figcaption {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.carousel img {
    max-width: 100px;
    height: 100px;
}

.map {
    display: block;
}

.map p {
    margin: 2em;
}

.mapWrapper {
    max-width: 100%;
}

#related img, #newest img {
    height: 175px;
}

#liked img, #img {
    height: 200px;
}

#specs {
    column-count: 2;
    list-style: circle;
    margin: 1em 5em;    
    border: solid var(--orange-color) 1px;
    border-radius: 5%;
}

#messages {
    display: block;
    padding: 1em;
}

table {
    max-width: 100%;
    display: flex;
}

tr, th, td {
    border: 3px solid var(--darkblue-color);
    padding: 1em .25em;
    vertical-align: middle;
}

tr {
    font-family: sans-serif;
    font-size: .90em;
    }

th {
    font-family: var(--primary-font);
    font-weight: bold;
    background-color: var(--yellow-color);
    color: white;
    font-size: 2rem;
}

.window {
    background-color: var(--yellow-color);
    padding: 1em;
    width: 50%;
    border: solid 2px var(--orange-color);
    border-radius: 10px;
    position: absolute;
    top: 25%;
    left: 20%;
    box-shadow: 4px 4px 8px rgba(0,0,0,.7);
    display: none;
    z-index: 10;
}

.window a {
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 15px;
    text-decoration: none;
}

#blackout {
    background-color: rgba(0,0,0,.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: none;
}

h5 {
    color: var(--orange-color);
    margin: .25em auto .75em;
    font-size: 2em;
}

label {
    font-size: 1.9rem;
}

li {
    padding: .5em;
    display: block;
    vertical-align: middle;
}

#login input, #sendMessage input {
    font-size: 1.25em;
    padding: .5em;
    margin: .5em;
    border: solid 1px var(--darkblue-color);
    border-radius: 1em;
}

main figure  {
    color: var(--darkblue-color);
    font-size: 1.2rem;
}

#login {
    display: grid;
    align-content: center;
    justify-content: center;
    vertical-align: middle;
    border: 3px dotted var(--orange-color);
    width: 75%;
    margin: 2em auto;
   padding: 1em 3em;
}

#logout {
    display:grid;
    justify-content: center;
    vertical-align: middle;
    padding: 2rem;
    margin: 2rem;
}

#sendMessage {
    display: grid;
    justify-content: center;
    vertical-align: middle;
    border: dashed var(--yellow-color) 3px;
    width: 75%;
    margin: 2em auto;
    padding: 1em;
}

#forms {
    display: grid;
    justify-content: center;
    vertical-align: middle;
}

.townDropdown {
    display: inline-flex;
    justify-content: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: var(--orange-color);
    border: none;
    cursor: pointer;
    font-size: 2.25rem;
    font-family: sans-serif;
    background-color: transparent;
}


/*haipei's code*/

     /*profile photo size*/

#account nav {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.ProfilePhoto {
    max-width: 25%;
    min-width: 150px;
    height: auto;
    border: 5px solid orange;
    margin-bottom: 1rem;
}

#account figure {
    margin-top: 1rem; 
    text-align: center; 
}

#account h2 {
        line-height: 1.2; 
}

.NewPostDetails body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.NewPostDetails {
    max-width: 600px;
    width: 100%;
    margin: 20px;
    text-align: center;
}

/*end of Haipei's code*/

/*media queries*/
@media screen and (min-width: 600px) {
    :root {
        --font-size: 2rem;
        --line-height: 2rem;
        --spacer: 2rem;
    }

    .cityDropdown {
        width: 100px;
    }

    .searchbar {
        margin: 4rem;
    }

    nav figcaption {
        font-size: var(--font-size);
    }

    nav {
        gap: 4rem;
    }

    article {
        margin: auto 12rem;
        /*align the "see more" button and main content*/
    }

    .socialMedia img {
        width: 55px;
    }
}

@media screen and (min-width: 800px) {

    .searchbar,
    h2 {
        margin: 4rem 10rem;
    }

    article {
        grid-template-columns: repeat(4, 1fr);
        max-width: 1150px;
        margin: auto 5rem;
    }
    
       article#loved {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: center;     
    }
    #loved img {
        height: 200px;
    }
    
}

@media screen and (min-width: 1170px) {
    main {
        max-width: 1170px;
    }

    header,
    footer {
        max-width: 1400px;
        margin: auto;
    }

    footer {
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }
}


/*local page styles*/
/*local page navigation style*/
.localNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.localNav figure {
    flex: 0 0 calc(25% - 20px);
    /* Adjust the width and margin based on your preference*/
    margin: 10px;
}

#localPageHeader {
    background-color: #ffd9bb;
}

/*local page button style*/
.localPageButton:link {
    background-color: var(--orange-color);
    color: white;
    text-decoration: none;
    border-radius: var(--border-radius);
    padding: .5rem 2rem;
}

.localPageButton:visited {
    background-color: #ffd9bb;
    color: #949599;
}

.localPageButton:hover {
     background-color:var(--orange-color);
    color: var(--blue-color);
}
 /*local page navigation style*/
 @media (min-width: 900px) {
            .localNav figure {
                flex: 0 0 calc(10% - 20px);
            }
        }
/*end local page styles*/
/* cristian's css code*/
/* set fontsize for ol, ul, td */
ol, ul, td {
    font-size: calc(var(--font-size)*0.75);
}

/*help page styles*/
#principles {
    text-align: center;
}

#principlesList {
    display: grid;
    grid-template-columns: var(--helpColumns);
    grid-template-rows: var(--helpRows);
    padding: var(--spacer);
    grid-gap: var(--spacer);
}

#principlesList div {
    border: solid 2px #3660a1;
    border-radius: 1rem;
    padding: var(--spacer);
}

#principlesList h2 {
    margin: .3rem;
}

@media screen and (min-width: 500px) {
    :root { 
        --helpColumns: 1fr 1fr;
        --helpRows: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 700px) {
    :root { 
        --helpColumns: 1fr 1fr 1fr;
        --helpRows: 1fr 1fr;
    }
}
/*end help page styles*/

/*privacy policy page styles*/
#privacy p { 
    padding: 1rem;
}

#policyLinks {
    text-align: center;
}

#privacy b {
    font-weight: bold;
}

#privacy table {
    margin: auto;
    text-align: center;
    width: 90%;
}

#privacy td {
    padding: 1rem;
    border: solid 1px #3660a1;
    font-family: var(--primary-font);
}

#privacy ol, #privacy ul {
    padding-left: 4rem;
}

#privacy ol {
    list-style: decimal;
}

#privacy ul {
    list-style: circle;
}

#privacy li {
    display: list-item;
}
/*end privacy policy page styles*/

/*about us page styles*/
#about p {
    padding: .5rem;
    width: 90%;
}
/*end about us page styles*/

/*faq page styles*/
#faq {
    text-align: center;
    display: grid;
    grid-template-columns: var(--faqColumns);
    grid-template-rows: var(--faqRows);
    padding: 1rem;
    grid-gap: 1rem;
}

#faq h1 {
    grid-column: var(--titleSpan);
}

@media screen and (min-width: 500px) {
    :root { 
        --faqColumns: 1fr 1fr;
        --faqRows: 5rem 1fr 1fr 1fr 1fr;
        --titleSpan: 1/3;
    }
}

@media screen and (min-width: 700px) {
    :root { 
        --faqColumns: 1fr 1fr 1fr;
        --faqRows: 5rem 1fr 1fr 1fr;
        --titleSpan: 1/4;
    }
}

@media screen and (min-width: 1160px) {
    :root { 
        --faqColumns: 1fr 1fr 1fr 1fr;
        --faqRows: 5rem 1fr 1fr;
        --titleSpan: 1/5;
    }
}
/*end faq page styles*/

/*contact page styles*/
#contact {
    width: 90%;
    margin: auto;
}

#contact legend {
    font-size: calc(var(--font-size)*1.5);
    font-weight: 700;
    margin: 5rem auto 3rem;
}

#contact label {
    display: inline-block;
    text-align: center;
    width: 20rem;
}

#contact input, #contact textarea {
    margin: 1em;
    border: solid 1px var(--darkblue-color);
    border-radius: 1em;
}

#contact input {
    max-width: 30rem;
    width: 85%;
}

#contact input[type="submit"] {
    float: right;
    width: auto;
    padding: 2rem;
}

#contact textarea {
    min-height: 180px;
    width: 100%;
    margin: 1rem auto 4rem auto;
}

#contactInfoMessage {
    display: grid;
    grid-template-columns: var(--contactColumns);
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
}

@media screen and (min-width: 450px) {
    :root {
        --contactColumns: 1fr 1fr;
    }
    
    #questionMessage {
        grid-column: 1/3;
        width: 85%;
    }
}

@media screen and (min-width: 800px) {
    :root {
        --contactColumns: 1fr 1fr 1fr;
    }
    
    #questionMessage {
        grid-column: 1/4;
    }
}
/*end contact page styles*/

/*end cristian's css code*/